.footer-top{
    background: #1E1E1E;
}
.footer-bottom{
    background-color: #040404;
    overflow: auto;
}

.ml-3{
    margin-left: 3rem;
}
.ml-2{
    margin-left: 2rem;
}

.text-color-grey{
    color: #ACACAC;
}

.text-color-white{
    color: white !important;
}

.ml-0{
    margin-left: 0;
}


#copyright{
    float:left;
    color: white;
    margin-left: 4.5rem;
}

.div-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.justyify-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#terms{
    float:right;
    margin-top: 15px;
    margin-right: 5rem;
}
a{
    color:white !important;
}
.termlink{
    text-decoration: underline;
    color: white !important;
    font-size: 10px;
    padding: 5px;
    font-size: 20px;
}

.footer-nav-item{
    font-size: 16px;
}

.nav-item{
    margin-right: 1rem !important;
}