.support-height-250{
    height: 250px;
}

.support-font-size-24{
    font-size: 24px;
}

.support-mt-71{
    margin-top: 71px;
}

.support-search-div{
    display: flex;
}

.support-ml-35p{
    margin-left: 40%;
}